*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-size: 50px;
    padding-bottom: 15px;
}
h2{
    font-size:46px;
}
h3{
    font-size: 32px;
    padding: 10px;
}
/* navbar */
.navbar{
    display: flex;
    background: #e3e6f3;;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.7);
    z-index: 5;
}
.navbar img{
    height: 150px;
    width: 190px;
}
.navbar ul{
    display: flex;
    align-items: center;
}
.navbar ul li {
    list-style: none;
    margin: 0px 30px;
    font-size: 30px;
    font-weight: 800;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #1a1a1a;
    transition: 0.3s ease;
}
.navbar li a:hover,
.navbar li a.active{
    color:#088178;
}
.navbar li a.active::after,
.navbar li a:hover::after{
    content:"";
    width: 50%;
    height: 4px;
    background:#088178;
    position: absolute;
    bottom: -4px;
    left: 5px;
}

/* home page */

.home{
    display: flex;
}
.container{
    height: 80vh;
    width: 50vw;
    background-color: #e3e6f3;
    padding: 0 80px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.container h1{
    color: #088178;
}

.container p{
    margin-left: 14px;
    font-size: 20px;
}

.container button {
    background-color: transparent;
    background-image: url("img/button.png");
    padding: 14px 80px 14px 65px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    color: #088178;
    font-size: 16px;
    font-weight: 700;
}
.container button a{
    margin-top: 20px;
    cursor: pointer;
    color: #088178;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}

.container img{
    height: 80vh;
    width: 100%;
    background-position: cover;
}
/* footer section */
.footer{
    box-shadow: 0 5px 15px rgba(0,0,0,0.7);
    padding: 30px;
}
.footer h4{
    text-align: center;
    font-size: 40px;
}
.follow{
    display: flex;
    justify-content: center;
    padding: 5px;
    font-size: 30px;
}
.footer .copy{
    text-align: center;
}
.footer .follow i{
    cursor: pointer;
    margin: 5px 3px;
}
.copy h5{
    font-size: 22px;
}

#cart-icon {
    position: relative;
    display: inline-block;
}

.cart-item-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: rgb(255, 0, 0);
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 12px;
    display: none; /* Initially hidden */
}
